.reviewContainer{
    .wrapper{
        min-height: 100px;
        max-height: 500px;
        overflow-y: scroll;
        background-color: #dcdde1;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background: #dcdde1;
        }
        &::-webkit-scrollbar-thumb {
            background: linear-gradient(to right, #0984e3, #0fbcf9);
            border-radius: 2rem;
        }
       
    }
}