.metadata {
    span {
        font-weight: 500;
    }
    .watchMore {
        border: 2px solid #0984e3;
        border-radius: 30px;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        &:hover {
            color: #f5f6fa;
            border: 2px solid ;

            font-weight: 500;
            // border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 1 100%;

            background: linear-gradient(to right, #0984e3, #0fbcf9);
        }
    }
}
