.library{
    .title{
       font-weight: bold;
        color: #2f3640;
    }
    .data{
        // cursor: pointer;
        // &:hover{
        //     background-color: #eeeeee;
        // }
        // &:active{
        //     background-color: #f5f6fa;
        // }
        p{
            font-size: smaller;
            color:#2f3640 ;
        }
    }
}