$bg-primary:#f5f6fa;
$bg-secondary:#eeeeee;
$bg-darker:#353b48;
$bg-darkest:#2f3640;
$bg-dark-theme:#0097e6;
$bg-light-theme:#00a8ff;
$bg-gradient:linear-gradient(to right, #0984e3, #0fbcf9);
$text-light:#f5f6fa;
$text-dark:#2f3640;

