.profileImg {
    .wrapper {
        .profileImage {
            width: 200px;
            overflow: hidden;
            height: 200px;
            border-radius: 50%;
            img {
                height: 200px;
                width: 200px;
                overflow: hidden;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
                transition: all .4s ease-in-out;
                &:hover{
                    transform: scale(1.1);
                }
            }
            
            .shareCancel{
                position: absolute;
                top:0px;
                right:20px;
                opacity: 0.7;
                cursor: pointer;
            }
        }
        button {
            text-transform: capitalize;
            border-radius: 20px;
        }
        label{
            border-radius: 20px;
            cursor: pointer;
        }
    }
}