.our_gnere{
    .content{
        table{
            tbody{
                tr{
                    td{
                        text-align: justify;
                        color: #ecf0f1;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}